<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DRM</key>
	<dict>
		<key>Public ed25519 Signing Key</key>
		<data>
		OMTapJGlUNNI0VbGmyDjIWDgXCfaxDNlw9RevUcBUDg=
		</data>
	</dict>
	<key>Formatting</key>
	<dict>
		<key>ISO time</key>
		<string>yyyy-MM-dd'T'HH:mm:ss.SSSSSS</string>
		<key>Locale</key>
		<string>en_US_POSIX</string>
		<key>User Agent</key>
		<string>%@/%@ (%@; %@; iOS %@)</string>
	</dict>
	<key>Keys</key>
	<dict>
		<key>getDeviceAD</key>
		<dict>
			<key>Model</key>
			<data>
			Ku6qaNA2dQp35TLFnCEAM2rSx/YX7qeQVzgCa0Q+e+c=
			</data>
			<key>UDID</key>
			<data>
			C41IJU/ovj3f/NKs1MI0KZSA+oF68pMTOg34c4tygHE=
			</data>
			<key>XOR</key>
			<data>
			VgFUxy3H9fMIA92daze+gh50qu0HsHpwHt8VyQuKIP4=
			</data>
		</dict>
		<key>getDeviceKey</key>
		<dict>
			<key>Model</key>
			<data>
			fLSCGUN9C0pyCZ1zrE53FUlMqgVxhRfBZGhGeTEH3uw=
			</data>
			<key>UDID</key>
			<data>
			xIkEQPkJKHZO0XV1B/ONAU9uccgCH3Q5649mQkuguyI=
			</data>
			<key>XOR</key>
			<data>
			bLwy7uZupKGyWNVAfGDjJn8dqLISSVJgHZmXCXXidDI=
			</data>
		</dict>
	</dict>
	<key>Paths</key>
	<dict>
		<key>Encrypted Ticket</key>
		<string>/var/mobile/Library/Preferences/moe.absolucy.lucient/.goldenticket</string>
		<key>Encrypted Ticket Folder</key>
		<string>/var/mobile/Library/Preferences/moe.absolucy.lucient</string>
		<key>killall</key>
		<string>/usr/bin/killall</string>
		<key>killall arguments</key>
		<string>-9 SpringBoard</string>
		<key>sbreload</key>
		<string>/usr/bin/sbreload</string>
	</dict>
	<key>UI</key>
	<dict>
		<key>DRM</key>
		<dict>
			<key>Activation Observer</key>
			<string>moe.absolucy.lucient.activ</string>
			<key>Buttons</key>
			<dict>
				<key>Continue</key>
				<string>Continue without Lucient</string>
				<key>Try Again</key>
				<string>Try Again</string>
			</dict>
			<key>Error</key>
			<string>Lucient failed to contact the authentication server.
Ensure that you have a proper internet connection currently, and that there are no firewalls blocking access to the internet.
If everything seems fine, then wait a bit and try again, as the server may just be down for maintenance.</string>
			<key>Fetching</key>
			<string>Don't Panic!
We're activating Lucient right now!</string>
			<key>Pirated</key>
			<string>Lucient failed to activate.
Please ensure you have bought Lucient legitimately.
If so, email Lucy with a proof-of-purchase and ask for help.</string>
			<key>Success</key>
			<string>Lucient has been activated successfully, and your device will automatically respring.
Share and enjoy.</string>
		</dict>
	</dict>
</dict>
</plist>
