Package: moe.absolucy.lucient
Name: Lucient
Version: 1.0.0
Architecture: iphoneos-arm
Description: A lovely Android 12-inspired lock screen overhaul
Maintainer: Lucy <support@absolucy.moe>
Author: Lucy <support@absolucy.moe>
Section: Tweaks
Replaces: moe.absolucy.lucient.trial
Conflicts: moe.absolucy.lucient.trial
Depends: firmware (>= 14.0), preferenceloader
