Package: me.aspenuwu.lucient
Name: Lucient
Version: 1.0.0
Architecture: iphoneos-arm
Description: An awesome Orion tweak!
Maintainer: Lucy
Author: Lucy
Section: Tweaks
Depends: firmware (>= 14.0), preferenceloader
