<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Lucient</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>HBPackageNameHeaderCell</string>
			<key>packageIdentifier</key>
			<string>moe.absolucy.lucient</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>moe.absolucy.lucient</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Style</string>
			<key>footerText</key>
			<string>This simply changes the font used for the lock screen.
Changes will apply immediately, no respring needed.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>key</key>
			<string>appearance</string>
			<key>defaults</key>
			<string>moe.absolucy.lucient</string>
			<key>default</key>
			<integer>0</integer>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>iOS</string>
				<string>Android 12</string>
				<string>Custom</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Visual Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Select Custom Font</string>
			<key>action</key>
			<string>pickFile</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Time Font Size (maximized)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>key</key>
			<string>maxFontSize</string>
			<key>defaults</key>
			<string>moe.absolucy.lucient</string>
			<key>default</key>
			<integer>160</integer>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>192</integer>
			<key>min</key>
			<integer>64</integer>
			<key>max</key>
			<integer>256</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Time Font Size (minimized)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>key</key>
			<string>minFontSize</string>
			<key>defaults</key>
			<string>moe.absolucy.lucient</string>
			<key>default</key>
			<integer>72</integer>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>96</integer>
			<key>min</key>
			<integer>32</integer>
			<key>max</key>
			<integer>128</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Date/Weather Font Size</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>key</key>
			<string>dateFontSize</string>
			<key>defaults</key>
			<string>moe.absolucy.lucient</string>
			<key>default</key>
			<integer>24</integer>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>48</integer>
			<key>min</key>
			<integer>16</integer>
			<key>max</key>
			<integer>64</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Credits</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Lucy</string>
			<key>user</key>
			<string>Absolucyyy</string>
			<key>userID</key>
			<string>1265822802554368000</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Amy</string>
			<key>user</key>
			<string>elihwyma</string>
			<key>userID</key>
			<string>1003029994682150912</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Alpha</string>
			<key>user</key>
			<string>Kutarin_</string>
			<key>userID</key>
			<string>1153937887</string>
		</dict>
	</array>
</dict>
</plist>
